<html>
<head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        body { font-family: 'Roboto', sans-serif; background-color: #5853e5; color: white; }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "current-event next-event";
            height: 100%;
        }

        .current-event { grid-area: current-event; }

        .next-event {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "next-event-details" "wifi-details";
            grid-area: next-event;
        }

        .wifi-details { 
            grid-area: wifi-details;
        }

        label { font-weight: bold; display: inline-block; }
        .event label { width: 100px; }
        .jumbo label { width: 175px; }
        .jumbo { font-size: 2em; }

        .next-event-details { grid-area: next-event-details; }

        #app {
            height: 100%;
        }
        #refresh { 
            background-color: #5853e5;
            border: 0;
            position: absolute;
            bottom: 10px;
        }
        #refresh img {
            height: 110px;
            width: 250px;
        }
    </style>
    <title>Tillo Meeting Rooms</title>
    <meta http-equiv="refresh" content="3600"/>
</head>
<body>
    <div id="app">
        <div class="grid-container">
            <div class="current-event">
                <h1>Current</h1>
                <h2 v-if="!info.data.current">Currently free</h2>
                <event-output v-bind:event="info.data.current"></event-output>
                <button id="refresh" onclick="reloadPage()"><img src="https://rewardcloud-signatures.s3-eu-west-1.amazonaws.com/tillo-grey.png"/></button>
            </div>
            <div class="next-event">
              <div class="wifi-details">
                  <h1>Guest wifi</h1>
                  <div class="jumbo">
                    <label>SSID: </label>{{ info.data.wifi.ssid }}<br>
                    <label>Password: </label>{{ info.data.wifi.password }}
                  </div>
              </div>
              <div class="next-event-details">
                  <h1>Next</h1>
                  <h2 v-if="!info.data.next">No more bookings today</h2>
                  <event-output v-bind:event="info.data.next"></event-output>
              </div>
            </div>
          </div>
    </div>
    <script type="application/javascript">
        Vue.component('event-output', {
            props: ['event'],
            template: `<div class="event" v-if="event">
                       <label>Subject: </label>{{ event.summary }}<br>
                       <label>Time:</label>{{ event.start }} - {{ event.end }}<br>
                       <label>Creator:</label>{{ event.creator }}
                       </div>`
        });
        var app = new Vue({
            el: '#app',
            data () {
                return { 
                    info: null,
                    wifi_ssid: 'test',
                    wifi_pwd: 'test',
                    timer: null
                }
            },
            mounted () {
                this.fetchEvents();
                this.timer = setInterval(this.fetchEvents, 300000);
            },
            methods: {
                fetchEvents: function() {
                    var params = window.location.search;
                    // Expecting ?calendar=2
                    axios
                        .get('https://us-central1-meeting-room-255011.cloudfunctions.net/http' + params)
                        .then(response => (this.info = response));
                }
            },
            beforeDestroy () {
                clearInterval(this.timer)
            }
        });
        function reloadPage() {
            location.reload();   

        }
    </script>
</body>
</html>